<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
    <add key="ArticleBaseUrl" value="https://baseurl/{0}.json?api-key={1}" />
    <add key="DefaultArticleSection" value="section" />
    <add key="ArticleApiAccessKey" value="key" />
  </appSettings>
</configuration>